@charset "UTF-8";

.card{
    align-items: center;
    
}
.filter {
    position: relative;
  }
  .filter::before {
    content: "";
    display: block;
    height: 446px;
    width: 540px;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    opacity: 0.5;
    background: rgba(170, 92, 219, 1);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
.card1{
    display: flex;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    margin-left: 9%;
    margin-top: 7%;
    width: 1100px;
    height: 446px;
}
.texto {
    margin: 80px;
}
.dados {
    display: flex;
    justify-content: space-between;
    padding-right: 40px ;
}
.text {
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: 3%;
}
img {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
body{
    background-color: hsl(233, 47%, 7%);
}
h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
}
h2 {
    color: hsl(0, 0%, 100%); 
    font-family: 'Inter', sans-serif; 
    margin-bottom: 10%;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
}

@media (max-width: 600px){
    body {
        background-color: green;
    }
    .card1{
        display: block;

    }
    .dados {
        display: flex;
    }

}