@charset "UTF-8";
 
body{
    background-color: hsl(233, 47%, 7%);
}
h1 {
    color: white;
    font-family: 'Inter', sans-serif;
}
h2 {
    color: white; 
    font-family: 'Inter', sans-serif;
    
}
p {
    color: rgb(148, 146, 143); 
    font-family: 'Inter', sans-serif;
}